<ion-tabs  [color]="!isAndroid ? 'royal' : 'primary'">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Search" tabIcon="md-search"></ion-tab>

</ion-tabs>
