<!--
  Generated template for the AlbumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [color]="!spotifyProvider.isAndroid ? 'royal' : 'primary'" text-center>

  </ion-navbar>

</ion-header>


<ion-content padding center-text>
  <div center-text>
    <ion-card *ngIf="album != null">
      <img *ngIf="album.images[0] != null" src="{{album.images[0].url}}">
    </ion-card>
    <!-- <h2>{{album.artists[0].name}}</h2>
    <p>{{album.name}}</p> -->
  </div>

  <ion-list no-lines *ngIf="tracks != null && tracks.length > 0">
    <ion-list-header text-center>
      <h1>{{album.name}}</h1>
      <p>{{album.artists[0].name}}</p>
      <hr>
      <h2>Canciones</h2>
    </ion-list-header>
    <button ion-item *ngFor="let track of tracks;let i = index" (click)="playTrack(track)">
      <h2>{{track.name}}</h2>
      <p>{{track.artists[0].name}}</p>
      <ion-icon name="md-pause" *ngIf="track_number == track.track_number && track.flag == true" item-end></ion-icon>
      <ion-icon name="md-play" *ngIf="track.flag == undefined || track.flag == false || track_number != track.track_number" item-end></ion-icon>
    </button>
  </ion-list>


</ion-content>