// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
@mixin background($size:cover,$repeat: no-repeat,$position:center) {
    background: {
      size: $size;
      repeat: $repeat;
      position:$position;
    }
}

@mixin box-shadow($top, $left, $blur , $color,$inset: false) {
    @if $inset {
    -webkit-box-shadow:$inset $top $left $blur $color;
    box-shadow:$inset $top $left $blur $color;
    } @else {
    -webkit-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
    }
}
@font-face {
  font-family:Roboto-Light;
  src: url("../assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family:Roboto-Medium;
  src: url("../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family:Roboto-Bold;
  src: url("../assets/fonts/Roboto-Bold.ttf");
}


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #ff9500,
  secondary:  #32db64,
  danger:     #ed665a,
  light:      #fff,
  dark:       #3d3d3d,
  blackcolor: #000,
  GrayColor:  #cdd0d2, 
  facebook:   #3a5a98,
  twitter:    #65a2d9,
  google:     #ff5450
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$text-input-placeholder-color:color($colors,dark); 	
$button-md-height:4.2rem;	
$button-md-border-radius:4px;
$button-md-text-transform:capitalize;
$button-md-font-size:1.6rem;		
$text-input-md-show-focus-highlight:false;
$alert-md-title-font-size:16px;		
$alert-md-message-padding-bottom:10px;	

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
