<!--
  Generated template for the ArtistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [color]="!spotifyProvider.isAndroid ? 'royal' : 'primary'" text-center>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="artist != null" text-center>
    <img *ngIf="artist.images[0] != null" src="{{artist.images[0].url}}">
    <img *ngIf="artist.images[0] == null" src="{{anon}}">
    <ion-card-title >
      {{artist.name}}
      </ion-card-title >
      <p>Followers: {{artist.followers.total}}</p>
  </ion-card>
</ion-content>