page-search {
  .item{
    padding-left: 0!important;
  }
  .more_img{
    height: 80px;
    white-space: nowrap;
    margin-top: -2px;
    .item_img{
        display: inline-block;
        position: relative;
        border: 1px solid color($colors,light);
        &:before{
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 170px;
            background: rgba(color($colors,blackcolor),.3);
        }
        &.active_select{
            &:before{
                display: none;
            }
        }
        img{
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }
}

  
 /*  ion-card {
    position: relative;
    text-align: center;
    float:left;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  } */
}
