<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [color]="!spotifyProvider.isAndroid ? 'royal' : 'primary'" text-center>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>

  <ion-list>
    <ion-list-header text-center *ngIf="artists.length > 0">
      <ion-icon name="ios-arrow-dropleft-outline" item-start (click)="prevPage(1)"></ion-icon>
      <h2>Artistas</h2>
      <ion-icon name="ios-arrow-dropright-outline" item-end (click)="nextPage(1)"></ion-icon>
    </ion-list-header>
    <ion-item *ngFor="let artist of artists" (click)="goArtist(artist.id)">
      <ion-avatar item-start>
        <img *ngIf="artist.images[0] != null" src="{{artist.images[0].url}}">
        <img *ngIf="artist.images[0] == null" src="{{anon}}">
      </ion-avatar>
      <h2>{{artist.name}}</h2>
    </ion-item>
  </ion-list>

  <ion-list no-lines>
    <ion-list-header text-center *ngIf="tracks.length > 0">
      <ion-icon name="ios-arrow-dropleft-outline" item-start (click)="prevPage(2)"></ion-icon>
      <h2>Canciones</h2>
      <ion-icon name="ios-arrow-dropright-outline" item-end (click)="nextPage(2)"></ion-icon>
    </ion-list-header>
    <button ion-item *ngFor="let track of tracks" (click)="goTrack(track)">
      <h2>{{track.name}}</h2>
      <p>{{track.artists[0].name}} . {{track.album.name}}</p>
    </button>
  </ion-list>

  <ion-list>
    <ion-list-header text-center *ngIf="albums.length > 0">
      <ion-icon name="ios-arrow-dropleft-outline" item-start (click)="prevPage(3)"></ion-icon>
      <h2>Albums</h2>
      <ion-icon name="ios-arrow-dropright-outline" item-end (click)="nextPage(3)"></ion-icon>
    </ion-list-header>
    <ion-item *ngFor="let album of albums" class="album-item" (click)="goAlbum(album.id)">
      <ion-thumbnail item-start>
        <img *ngIf="album.images[0] != null" src="{{album.images[0].url}}" class="album-img">
      </ion-thumbnail>
      <h2>{{album.name}}</h2>
      <p>{{album.artists[0].name}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header text-center *ngIf="playlists.length > 0">
      <ion-icon name="ios-arrow-dropleft-outline" item-start (click)="prevPage(4)"></ion-icon>
      <h2>Playlists</h2>
      <ion-icon name="ios-arrow-dropright-outline" item-end (click)="nextPage(4)"></ion-icon>
    </ion-list-header>
    <ion-item *ngFor="let playlist of playlists" class="album-item" (click)="goPlaylist(playlist)">
      <ion-thumbnail item-start>
        <img *ngIf="playlist.images[0] != null" src="{{playlist.images[0].url}}" class="album-img">
      </ion-thumbnail>
      <h2>{{playlist.name}}</h2>
      <p>{{playlist.owner.display_name}}</p>
    </ion-item>
  </ion-list>






</ion-content>