<!--
  Generated template for the PlayListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [color]="!spotifyProvider.isAndroid ? 'royal' : 'primary'" text-center>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div center-text>
    <ion-card *ngIf="playlist != null">
      <img *ngIf="playlist.images[0] != null" src="{{playlist.images[0].url}}">
    </ion-card>
    <!-- <h2>{{playlist.name}}</h2>
    <p>{{playlist.owner.display_name}}</p> -->
  </div>

  <ion-list no-lines *ngIf="tracks != null && tracks.length > 0">
    <ion-list-header text-center>
      <h1>{{playlist.name}}</h1>
      <p>{{playlist.owner.display_name}}</p>
      <p>Followers: {{playlist.followers.total}}</p>
      <hr>
      <h2>Canciones</h2>
    </ion-list-header>
    <button ion-item *ngFor="let track of tracks;let i = index" (click)="playTrack(track.track,i)">
      <h2>{{track.track.name}}</h2>
      <p>{{track.track.artists[0].name}}</p>
      <ion-icon name="md-pause" *ngIf="track_number == i && track.track.flag == true" item-end></ion-icon>
      <ion-icon name="md-play" *ngIf="track.track.flag == undefined || track.track.flag == false || track_number != i" item-end></ion-icon>
    </button>
  </ion-list>


</ion-content>