<!--
  Generated template for the TrackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [color]="!spotifyProvider.isAndroid ? 'royal' : 'primary'" text-center>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngIf="track != null">
    <img *ngIf="track.album.images[0] != null" src="{{track.album.images[0].url}}">
    <div class="card-title">{{track.artists[0].name}}</div>
    <div class="card-subtitle">{{track.name}}</div>
  </ion-card>

  <hr>
  <ion-list>
    <ion-item text-center (click)="playTrack()">
      <ion-icon name="md-pause" class="icono" *ngIf="flag" block></ion-icon>
      <ion-icon name="md-play" class="icono" *ngIf="!flag" block></ion-icon>
    </ion-item>
  </ion-list>




</ion-content>